# Archivos específicos
SIGEA/seeders/management/commands/seed_pruebas.py
SIGEA/seeders/management/commands/seed_visitas.py

# ========================
# Backend (Django/Python)
# ========================
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno
.env
.env.*

# Archivos estáticos
staticfiles/

# Caché de Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Migraciones (si esa es la política del proyecto)
**/migrations/*
!**/migrations/__init__.py

# ========================
# Frontend (React/Vite/Node)
# ========================
node_modules/
dist/
build/
coverage/
*.local

# Caché
.vite/
.cache/
.parcel-cache/
.eslintcache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Sistema / IDE
# ========================
.vscode/
!.vscode/extensions.json
.idea/

.DS_Store
Thumbs.db
Desktop.ini

# ========================
# Otros
# ========================
.antigravityignore