.content-wrapper-principal-admin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule-content{
    height: 80vh;
    margin: 12px 20px;
    margin-bottom: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #aaaaaa39;
    border-radius: 12px;
}

.parrafo{
    margin: 20px;
}