.firstLogForm, .content-productorView{
    background-color: #fff;
    min-height: 80vh;
    width: 90%;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.content-productorView{
    margin: 20px;
    width: 100%;
}

.title-firstLog{
    display: flex;
    justify-content: center;
    padding: 12px;

}

.form-section-header{
    display: flex;
    color: #00000099;
    margin: 12px;
}

.paragraph-title{
    font-size: 14px;
    margin: 8px;
    text-wrap: pretty;
}

.form-user{
    margin: 12px;
}

.form-user-data{
    display: flex;
    justify-content: space-between;
    padding:0 15px;
    gap: 13px;
}

.visit-req-form{
    margin: 12px;
    width: 96%;
    height: auto;
}

.req-description{
    width:100%;
    padding: 12px;
    height: auto;
    overflow-y: hidden;
    resize: none;
    border: 1.5px solid #3e9a8a;
    border-radius: 10px;
}

