.input-log{
    display: block;
    min-width: 100%;
    padding: 0.1rem;
    margin-top: 1.5rem;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #015d3b;
    
}

.log-link{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    margin-left: 5px;
    width: 40px;    
}

.log-button{
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #015d3b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
}

.input-radio{

    background-color: #015d3b;
    padding: 4px 20px;
    margin: 5px;
    color: #fff;
    font-weight: bolder;
    border-radius: 15px;
}

