.dropdown-btn{
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid #015d3b;
    padding: 0.4rem;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}