*{
    box-sizing: border-box;
}

.site{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: row;
}

.sidebar-wrapper{  
    position: sticky;
}

.content-wrapper{
    margin: 30px;
    flex:1;
}

