.Sidebar{
    display: flex;
    background-color:#005C39;
    height: 100vh;
    width: 14rem;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
}

.logo_sigea{
    width: 50px;
    border-radius: 10px;
}

.logo_letters{
    color: #fff;
    font-weight: bolder;
    font-size:30px;
}

.Sidebar-item{
    display: flex;
    color: #fff;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    padding: 10px 55px 10px ;
    margin: 4px 0;
    align-items: center;
}


.Sidebar-item:hover{
    background-color:#4d8d74;
}

.Sidebar-sections{
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.elements{
    display: flex;
    flex-direction: column;
    flex: 1;             
}

.Sidebar-UserLink{
    gap: 11px;
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 40px;
}
