.message-errors{
    color: #a22;
    font-size: 8px;
    position: absolute;
    top: 65px;
    left: 15px;
}

.message-errors-login{
    color: #a22;
    font-size: 8px;
    margin-left: 5px;
    top: 43px;
    left: 15px;
}

.message-errors-form{
    color: #a22;
    font-size: 8px;
    position: absolute;
    top: 43px;
    left: 15px;
}

.name-parent{
    position: relative;
}

.login-wrapper{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    min-width: 70vw;
    padding: 0;
    gap: 6rem;
    background-color: #fdfcf8;
}

.logo{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.login-form{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    
}

.section-log{
    margin-bottom: 1.5rem;
}

.form-tittle{
    margin: auto;
    color: #015d3b;
}


/* estilos del registro */

.names{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 0 5px;
}

.document-type{  
    max-width: 100%;
}
